.watchers {
    ul {
        list-style: none;
        text-align: center;

        img {
            width: 150px;
        }
    }

    .watcher {
        ul {
            list-style: none;
        }

    }

}