<section class="main-page">
  <header class="full">
    <section class="main-page">
      <h1>{{title}}</h1>

      <nav class="main-nav">
        <!-- <a routerLink="/">weather-app</a>
        <a routerLink="/count-down-app">count-down-app</a> -->
        <button (click)="changeRoute('weather-app')">weather-app</button>
        <button (click)="changeRoute('count-down-app')">count-down-app</button>
        <button (click)="changeRoute('wire-up')">wire-up</button>
      </nav>

    </section>
  </header>

  <main>
    <app-weather-app *ngIf="this.route==='weather-app'"></app-weather-app>
    <app-count-down-app *ngIf="this.route==='count-down-app'" [futureTime]="futureTime"></app-count-down-app>
    <app-wire-up *ngIf="this.route==='wire-up'"></app-wire-up>
    <!-- <router-outlet></router-outlet> -->
  </main>

</section>