.main-page {
    display: grid;
    grid-template-columns: 80px 1fr 80px;
    grid-template-rows: repeat(1fr);

    >* {
        grid-column: 2;
        height: max-content;

        &.full {
            grid-column: 1 /-1;
        }
    }

    & header {
        background-color: lightblue;
        text-align: center;
        padding: 10px;

        & nav {

            >* {
                padding-left: 10px;
            }
        }
    }

    & main {
        height: 90vh;
    }
}